Flask==2.3.2        # Core Flask framework
gunicorn==20.1.0    # WSGI HTTP Server for production
Werkzeug==2.3.7     # WSGI utilities
Jinja2==3.1.2       # Templating engine
MarkupSafe==2.1.3   # Safely handles strings in templates
itsdangerous==2.1.2 # Flask session management
click==8.1.3        # Command line utilities for Flask

# Optional: If your Flask app requires handling of forms, database, etc.
Flask-SQLAlchemy==3.0.4  # For working with databases
Flask-WTF==1.1.1         # For handling forms in Flask
Flask-Login==0.6.2       # For user session management
Flask-Migrate==4.0.4     # For database migrations
Flask-Cors==3.1.0        # For handling CORS


pymongo==4.6.0           # MongoDB

# You may need these for handling .env configurations
python-dotenv==1.0.0
